.login_container {
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 1500px) {
  .login_container {
    width: 100vw;
  }

  .img {
    display: none;
  }

  .no_img {
    height: 56rem;
  }
}

@media (max-width: 900px) {
  .login_container {
    width: 100vw;
    justify-content: center;
  }

  .img {
    display: none;
  }
}
