.profile_container {
  border-left: solid 10vw #000;
  border-right: solid 10vw #000;
  background-color: #f4f4f406;
  width: 100vw;
  height: 100vh;
  padding-top: 8rem;
  text-align: center;
  color: #f4f4f4;
  font-family: "Hanken Grotesk", sans-serif;
}
@media (max-width: 650px) {
  .profile_container {
    padding-top: 14rem;
  }
}
