.settings {
  background-color: #f4f4f406;
  width: 50rem;
  padding-bottom: 4rem;
  text-align: center;
  color: #f4f4f4;
  font-family: "Hanken Grotesk", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings_title {
  padding: 2rem;
  font-size: 2.5rem;
}
.settings_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.user_btn_container {
  width: 80%;
  display: flex;
  margin-top: 3rem;
  gap: 2rem;
}
.border {
  margin-top: 1rem;
  padding: 1rem;
  border: solid 1px #ffb12a;
  border-radius: 5px;
}
