.loading_spiner {
  width: 1.5rem;
  height: 1.5em;
  border-radius: 50%;
  border: solid 3px #252525;
  border-top: solid 3px #1bb55f;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
