.header_menu {
  position: absolute;
  top: 7rem;
  right: 0;
  background-color: #252525;
  color: #f4f4f4;
}
.header_menu .item {
  padding: 1.5rem 2rem;
}
.header_menu .item:hover {
  padding: 1.5rem 2rem;
  background-color: #f4f4f408;
}
.none {
  display: none;
}
