.product_img {
  background-color: #f4f4f408;
  width: 15rem;
  height: 15rem;
}

.product_container {
  background-color: #f4f4f418;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 40rem;
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  /*border-top: solid 5px #80319b;*/
  border-bottom: solid 5px #80319b;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 0;
  /*clip-path: polygon(7% 0%, 100% 0%, 93% 100%, 0% 100%);*/ 
}
.product_container:hover {
  opacity: 0.8;
}
.product_title{
  text-transform: uppercase;
}