.product_img {
  width: 10rem;
  height: 10rem;
  background-image: url("/public/logo-simple.svg");
  background-size: cover;
  margin-right: 1rem;
}
.product_container {
  display: flex;
  align-items: center;
  gap: 2rem;
  min-height: 15rem;
  max-width: 60rem;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 0;
  background-color: #f4f4f418;
  border-bottom: solid 5px #80319b;
  font-family: "Hanken Grotesk", sans-serif;
  color: white;
}
.product_container:hover {
  opacity: 0.8;
}
.product_title {
  text-transform: uppercase;
}
.product_text {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.product_text * {
  padding: 0.5rem;
}
@media (max-width: 750px) {
  .product_container {
    flex-direction: column;
  }
  .product_text {
    align-items: center;
  }
}
