.product_img {
  width: 10rem;
  height: 10rem;
  background-image: url("/public/logo-simple.svg");
  background-size: cover;
  margin-right: 1rem;
}

.product_container {
  background-color: #f4f4f418;
  display: flex;
  align-items: center;
  gap: 2rem;
  color: white;
  font-family: "Hanken Grotesk", sans-serif;
  border-bottom: solid 5px #80319b;
  min-height: 15rem;
  width: 60rem;
  padding: 2rem;
  position: relative;
  cursor: pointer;
  z-index: 0;
}
.product_container:hover {
  opacity: 0.8;
}
.product_title {
  text-transform: uppercase;
}

.product_text {
  flex: 1;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.score {
  display: flex;
  align-items: baseline;
  position: absolute;
  right: 5%;
  bottom: 1rem;
  color: #ffb12a;
  font-size: 1.5rem;
}

.score .stars {
  text-shadow: 1px 1px 2px #ffb12a;
}
